<h1> WHAT CLASSES HAVE YOU TAKEN? </h1>


<form action="{% url 'planner:name' %}" method="post">
{% csrf_token %}
<label>username</label>
<input type='text' id= 'username' name='username' />
<label>password</label>
<input type='password' id='password' name='password' />
<label> courses </label>
<input type='text' id='courses' name='courses' />
<select name='major_select'>
	{% if latest_course_list %}
    <ul>
    {% for course in latest_course_list %}
        <option value="{{ course.id }}">{{ course.major_text }}</option>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</select>
<input type='submit' id= 'Submit' />
</form>




<h1> CHOOSE YOUR MAJOR </h1>
{% if latest_course_list %}
    <ul>
    {% for course in latest_course_list %}
        <li><a href="{% url 'planner:detail' course.id %}">{{ course.major_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
